@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
	color-scheme: light;
	font-family:
		"JetBrains Mono",
		"IBM Plex Sans",
		"Cascadia Code",
		"Segoe UI",
		sans-serif;
}

:root.dark {
	color-scheme: dark;
}

body {
	margin: 0;
}